creep:
  a_max: 0.5
  v_cutoff: 2.0
  v_hold: 0.08
env:
  accel_filter_alpha: 0.2
  action_high: 1.0
  action_low: -1.0
  action_weight: 0.09129901180568976
  brake_weight: 0.050548220005572034
  comfort_anneal_enabled: true
  comfort_anneal_end_mult: 1.0
  comfort_anneal_start_mult: 0.0
  comfort_anneal_steps: 10000000
  dt: 0.1
  horizon_penalty_decay: 0.99
  horizon_penalty_weight: 0.0
  initial_speed_error_range: 0.0
  jerk_weight: 0.2823492885566481
  max_episode_steps: 2048
  max_position: 5000.0
  max_speed: 25.0
  negative_speed_weight: 10.0
  plant_substeps: 5
  preview_horizon_s: 3.0
  reward_filter_dt: 0.1
  reward_filter_freq_cutoff: 0.6
  reward_filter_zeta: 0.9
  smooth_action_weight: 0.31990100105659536
  track_weight: 1.4124481219632357
  use_extended_plant: true
  violent_profile_mode: false
  voltage_weight: 0.05024011390226151
  zero_speed_error_weight: 0.25
  zero_speed_throttle_weight: 0.25
generator:
  accel_beta: 2.0
  ds: 1.0
  dt: 0.02
  freq_cutoff: 0.8
  g_max: 0.08
  g_min: -0.08
  jerk_max: 4.0
  l_corr: 300.0
  lpf_safety_factor: 0.85
  p_change: 0.03
  p_change_acc: 0.01
  p_change_jerk: 0.01
  p_zero_accel: 0.15
  p_zero_stop: 0.08
  rate_max_limit: 15.0
  rate_neg_max_limit: 20.0
  sigma_g_stat: 0.02
  speed_limit_safety_factor: 0.8
  stop_hold_max: 5.0
  stop_hold_min: 1.0
  t_max: 12.0
  t_min: 2.0
  v_max_sample: 25.0
  v_min: 0.0
  zeta: 3.0
output:
  dir: training/checkpoints
  save_latest: true
reference_dataset: null
seed: 42
training:
  action_horizon_steps: 10
  batch_size: 256
  checkpoint_interval: 10000
  eval_episodes: 5
  eval_interval: 5000
  gamma: 0.95
  learning_rate: 0.0003
  log_interval: 1000
  max_grad_norm: 5.0
  num_train_timesteps: 1000000
  replay_size: 1000000
  target_entropy_scale: 0.98
  tau: 0.01
  warmup_steps: 10000
vehicle_randomization:
  actuator_tau_range:
  - 0.05
  - 0.3
  brake_accel_range:
  - 8.0
  - 11.0
  brake_kappa_range:
  - 0.02
  - 0.25
  brake_p_range:
  - 1.0
  - 1.8
  brake_tau_range:
  - 0.04
  - 0.12
  drag_area_range:
  - 0.2
  - 0.8
  eta_gb_range:
  - 0.85
  - 0.98
  gear_ratio_range:
  - 4.0
  - 20.0
  grade_range_deg:
  - -5.7
  - 5.7
  mass_range:
  - 1500.0
  - 6000.0
  min_accel_from_rest: 2.5
  min_brake_decel: 4.0
  min_top_speed: 20.0
  motor_J_range:
  - 0.0001
  - 0.01
  motor_K_range:
  - 0.05
  - 0.4
  motor_L_range:
  - 0.0001
  - 0.01
  motor_R_range:
  - 0.02
  - 0.6
  motor_Vmax_range:
  - 200.0
  - 800.0
  motor_b_range:
  - 1.0e-06
  - 0.005
  mu_range:
  - 0.7
  - 1.0
  rolling_coeff_range:
  - 0.007
  - 0.015
  wheel_inertia_range:
  - 0.5
  - 5.0
  wheel_radius_range:
  - 0.26
  - 0.38
